{% extends 'mailing/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Данные о клиенте</h1>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb text-bold">
        <li class="breadcrumb-item" aria-current="page">
            <a href="{% url 'mailing:client_list' %}" class="btn btn-sm btn-outline-secondary">
                К списку клиентов
            </a>
        </li>
    </ol>
</nav>
<div class="row mb-2">
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ client.full_name }}</h4>
            </div>
            <div class="card-body">
                <p class="text-start">Email клиента: {{ client.email }}</p>
                <p class="text-start">Комментарий: {{ client.comment }}</p>
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:client_edit' client.pk %}"
                       role="button">Изменить</a>
                    <a class="btn btn-sm btn-outline-danger" href="{% url 'mailing:client_delete' client.pk %}"
                       role="button">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}