{% extends 'mailing/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список рассылок</h1>
</div>
<div class="row">
    <div class="col-4 d-flex justify-content-center">
        <a class="p-2 btn btn-outline-primary mb-3" href="{% url 'mailing:mailing_create' %}">Добавить рассылку</a>
    </div>
</div>
<div class="row mb-2">
    {% for mailing in mailing_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Тема рассылки: {{ mailing.message.subject }}</h4>
            </div>
            <div class="card-body">
                <p class="text-start">Текст рассылки: {{ mailing.message.body | slice:150 }}</p>
                <p class="text-start">Дата и время отправки: {{ mailing.start_datetime | date:"d.m.Y H:i"}}</p>
                <p class="text-start">Периодичность рассылки: {{ mailing.get_periodicity_display }}</p>
                <p class="text-start">Статус рассылки: {{ mailing.get_status_display }}</p>
                <div class="col p-4 d-flex flex-column position-static">
                    <a href="{% url 'mailing:mailing_detail' mailing.pk %}"
                       class="stretched-link btn btn-outline-primary">Посмотреть рассылку</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% include "mailing/includes/paginator.html" %}
{% endblock %}