{% extends 'mailing/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список сообщений</h1>
</div>
<div class="row">
    <div class="col-4 d-flex justify-content-center">
        <a class="p-2 btn btn-outline-primary mb-3" href="{% url 'mailing:message_create' %}">Добавить сообщение</a>
    </div>
</div>
<div class="row mb-2">
    {% for message in message_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ message.subject }}</h4>
            </div>
            <div class="card-body">
                <p class="text-start">{{ message.body }}</p>
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:message_edit' message.pk %}"
                       role="button">Изменить</a>
                    <a class="btn btn-sm btn-outline-danger" href="{% url 'mailing:message_delete' message.pk %}"
                       role="button">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% include "mailing/includes/paginator.html" %}
{% endblock %}