{% extends 'mailing/base.html' %}
{% block content %}
{% load django_bootstrap5 %}
<div class="row d-flex justify-content-center">
    <div class="col-6">
        {% if object %}
            <h1 class="mt-1">Изменить статью</h1>
        {% else %}
            <h1 class="mt-1">Добавить статью</h1>
        {% endif %}
        <!-- Форма создания и редактирования статьи -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">
                {% if object %}
                    Сохранить изменения
                {% else %}
                    Добавить
                {% endif %}
            </button>
        </form>
    </div>
</div>
{% endblock %}